<!DOCTYPE html>
<html lang="es">
    <head>
    <script src="../js/script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/normalize.css">
    <title>Crédito</title>
</head>


<body>

    <div class="header">
        <h1>Control de Tarjetas de Crédito</h1>
    </div>
    <div class="texto-descriptivo">
        <p>Adminitra mejor tus finanzas</p>
    </div>
    <div class="centrar-imagen">
        <img src="../assets/img/tarjeta-de-debito.png" alt="tarjeta de debito" class="ecuacion">
    </div>

</body>
</html>